@import "https://fonts.googleapis.com/css?family=Ubuntu";
@keyframes "logo" {
	0% {
		color: red;
	}
	15% {
		color: orange;
	}
	30% {
		color: yellow;
	}
	45% {
		color: lime;
	}
	60% {
		color: deepskyblue;
	}
	75% {
		color: blue;
	}
	90% {
		color: mediumvioletred;
	}
	100% {
		color: red;
	}
}
@keyframes "Skeet" {
	0% {
		background: linear-gradient(270deg, #0091ff, #0020ff, #8a04a4, #da06cc, #ff0095, #cfa303, #ffdf00);
	}
	15% {
		background: linear-gradient(270deg, #0020ff, #8a04a4, #da06cc, #ff0095, #cfa303, #ffdf00, #0091ff);
	}
	30% {
		background: linear-gradient(270deg, #8a04a4, #da06cc, #ff0095, #cfa303, #ffdf00, #0091ff, #0020ff);
	}
	45% {
		background: linear-gradient(270deg, #da06cc, #ff0095, #cfa303, #ffdf00,#0091ff, #0020ff, #8a04a4);
	}
	50% {
		background: linear-gradient(270deg, #ff0095, #cfa303, #ffdf00, #0091ff, #0020ff, #8a04a4, #da06cc);
	}
	75% {
		background: linear-gradient(270deg, #cfa303, #ffdf00, #0091ff, #0020ff, #8a04a4, #da06cc, #ff0095);
	}
	100% {
		background: linear-gradient(270deg, #ffdf00, #0091ff, #0020ff, #8a04a4, #da06cc, #ff0095, #cfa303);
	}
}
@keyframes "rainbow-text" {
	0% {
		color: #e87d7d;
	}
	2% {
		color: #e88a7d;
	}
	4% {
		color: #e8977d;
	}
	6% {
		color: #e8a47d;
	}
	8% {
		color: #e8b07d;
	}
	10% {
		color: #e8bd7d;
	}
	12% {
		color: #e8ca7d;
	}
	14% {
		color: #e8d77d;
	}
	16% {
		color: #e8e47d;
	}
	18% {
		color: #dfe87d;
	}
	20% {
		color: #d3e87d;
	}
	22% {
		color: #c6e87d;
	}
	24% {
		color: #b9e87d;
	}
	26% {
		color: #ace87d;
	}
	28% {
		color: #9fe87d;
	}
	30% {
		color: #92e87d;
	}
	32% {
		color: #86e87d;
	}
	34% {
		color: #7de881;
	}
	36% {
		color: #7de88e;
	}
	38% {
		color: #7de89b;
	}
	40% {
		color: #7de8a8;
	}
	42% {
		color: #7de8b5;
	}
	44% {
		color: #7de8c1;
	}
	46% {
		color: #7de8ce;
	}
	48% {
		color: #7de8db;
	}
	50% {
		color: #7de8e8;
	}
	52% {
		color: #7ddbe8;
	}
	54% {
		color: #7dcee8;
	}
	56% {
		color: #7dc1e8;
	}
	58% {
		color: #7db5e8;
	}
	60% {
		color: #7da8e8;
	}
	62% {
		color: #7d9be8;
	}
	64% {
		color: #7d8ee8;
	}
	66% {
		color: #7d81e8;
	}
	68% {
		color: #867de8;
	}
	70% {
		color: #927de8;
	}
	72% {
		color: #9f7de8;
	}
	74% {
		color: #ac7de8;
	}
	76% {
		color: #b97de8;
	}
	78% {
		color: #c67de8;
	}
	80% {
		color: #d37de8;
	}
	82% {
		color: #df7de8;
	}
	84% {
		color: #e87de4;
	}
	86% {
		color: #e87dd7;
	}
	88% {
		color: #e87dca;
	}
	90% {
		color: #e87dbd;
	}
	92% {
		color: #e87db0;
	}
	94% {
		color: #e87da4;
	}
	96% {
		color: #e87d97;
	}
	98% {
		color: #e87d8a;
	}
	100% {
		color: #e87d7d;
	}
}
@keyframes "s3ynz" {
	to {
		transform: translate(-25%, -12.5%);
	}
}
body {
	font-family: 'Ubuntu', sans-serif;
	overflow: hidden;
	background-color: black;
	height: 100%;
}

#title {
	@media (max-width: 575px) {
		font-size: 65%;
	}
	animation: rainbow-text 1s infinite;
}
.people {
	width: 300px;
	overflow: hidden;
	display: inline-block;
	margin-top: 5px;
	color: #ffffff;
	text-align: center;
	font-size: 24px;
}
#person {
	animation: rainbow-text 1s infinite;
}
.skeet {
	padding: 0;
	margin: auto;
	margin-bottom: 50px;
	background: linear-gradient(270deg, #0091ff, #0020ff, #8a04a4, #da06cc, #ff0095, #cfa303, #ffdf00);
	animation-name: Skeet;
	animation-duration: 0.4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	height: 7px;
}
#shoutouts {
	text-align: center;
	margin-top: 10px;
	width: 100%;
}
#background {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: -1;
}
html {
	height: 100%;
}
.container {
	height: 100%;
	height: 100%;
	min-height: 100%;
}
.row.justify-content-center.align-items-center {
	height: 100%;
	min-height: 100%;
}
.links {
	margin-bottom: 235px;
	margin-top: 35px;
	text-align: center;
	font-weight: 500;
	font-size: 18px;
}
.link {
	margin-left: 4px;
}
.homies {
	width: 100px;
	overflow: hidden;
	display: inline-block;
	margin-bottom: -3px;
	text-align: center;
}
#center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);

	@media (max-width: 640px) {
		transform: translate(-50%, -50%) scale(0.8);
	}
}	

li {
	display: inline-block;
	margin-left: 8px;
	margin-right: 8px;
	padding: 0;
	cursor: default;
}
a {
	text-decoration: none;
	animation: rainbow-text 1s infinite;
	&:hover {
		animation: rainbow-text 1s infinite;
		transition: color 0.3s linear;
		-webkit-transition: color 0.3s linear;
		-moz-transition: color 0.3s linear;
	}
}
nav {
	>ul {
		color: #DBDBDB;
		font-size: 15px;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		color: #DBDBDB;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		>li {
			display: inline-block;
			margin-left: 8px;
			margin-right: 8px;
			padding: 0;
			cursor: default;
			display: inline-block;
			margin-left: 8px;
			margin-right: 8px;
			padding: 0;
			cursor: default;
			&:after {
				content: "|";
				margin: 0 8px;
				opacity: .3;
				content: "|";
				margin: 0 8px;
				opacity: .3;
				display: none;
			}
			&:last-child {
				&:after {
					content: "";
					content: "";
					margin: 0;
				}
			}
		}
	}
	a {
		color: #DBDBDB;
		font-size: 15px;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
		color: #DBDBDB;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: center;
	}
}
.wrapper {
	height: 100vh;
	overflow: hidden;
	width: 100vw;
}
#app {
	animation-name: s3ynz;
	animation-duration: 30s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	width: 150vw;
	>div {
		animation-name: lord;
		animation-duration: 5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		display: inline;
		margin-left: 0.1em;
		margin-right: 0.1em;
		word-break: break-all;
	}
}
.controls {
	color: white;
	text-align: center;
	cursor: pointer;
}
hr {
	border-top: 1px solid rgb(255, 255, 255);
}
.white {
	color: white;
}
#comp {
	display: none;
}
.main-nav {
	@media (max-width: 480px) {
		transform: scale(0.8);
	}
}